@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BugTrackerApp.Models.Bug


<div class="form-container">
    <form asp-action="Create" method="post" >
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Level" class="control-label"></label>
            <select asp-for="Level" class="form-control">
                <option value="" disabled selected>-- Choose an option --</option> <!-- New option -->
                @foreach (var level in Enum.GetValues(typeof(Bug.BugLevel)))
                {
                    <option value="@level">@level</option>
                }
            </select>
        </div>
        <div class="form-group"> 
            <label asp-for="DateReported" class="control-label"></label> 
            <input asp-for="DateReported" class="form-control" type="date" /> 
        </div>
        <div class="form-group">
            <label asp-for="Type" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Type" asp-items="ViewBag.ErrorTypes" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsHighPriority">High Priority</label>
            <input type="checkbox" asp-for="IsHighPriority" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
