@model BugTrackerApp.Models.SolvedBug

@{
    ViewData["Title"] = "Solve Bug";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="form-container">
    <form asp-action="Solve" asp-controller="Bug" method="post">
        <div class="form-group">
            <label asp-for="StepsToSolve">Steps to Reproduce</label>
        <textarea asp-for="StepsToSolve" class="form-control"></textarea>
            <span asp-validation-for="StepsToSolve" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TimeSpent">Time Spent (hours)</label>
            <input type="time" asp-for="TimeSpent" class="form-control" />
            <span asp-validation-for="TimeSpent" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsResolved">Mark as Solved</label>
            <input type="checkbox" asp-for="IsResolved" class="form-check-input" />
            <span asp-validation-for="IsResolved" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BugStatus">Bug Status</label>
            <select asp-for="BugStatus" class="form-control">
                <option value="In Progress">In Progress</option>
                <option value="In Review">In Review</option>
                <option value="Done">Done</option>
            </select>
            <span asp-validation-for="BugStatus" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateResolved">Date Resolved</label>
            <input type="date" asp-for="DateResolved" class="form-control" />
            <span asp-validation-for="DateResolved" class="text-danger"></span>
        </div>
        <input type="hidden" name="BugId" value="@Model.BugId" />
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </form>
</div>
