html {
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom:50px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.table {
    padding: 15px;
}
th {
    font-weight: bold;
    text-align: center;
}

td {
    align-items: center;
    text-align: center;
    align-content:center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table a {
    /* General styles for all links in the table cell */
    display: inline-block; /* Makes them behave like block elements */
    padding: 5px 10px; /* Adds padding for a button-like feel */
    border: none; /* Removes default link border */
    border-radius: 4px; /* Adds rounded corners */
    text-decoration: none; /* Removes underline from links */
    cursor: pointer; /* Changes cursor to pointer on hover */
}
.form-group {
    padding-bottom:10px;
}

.truncated-description {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Show only one line */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 8em 'Montserrat';
    width: 960px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

    .text-copy:nth-child(1) {
        stroke: #4D163D;
        animation-delay: -1;
    }

    .text-copy:nth-child(2) {
        stroke: #840037;
        animation-delay: -2s;
    }

    .text-copy:nth-child(3) {
        stroke: #BD0034;
        animation-delay: -3s;
    }

    .text-copy:nth-child(4) {
        stroke: #BD0034;
        animation-delay: -4s;
    }

    .text-copy:nth-child(5) {
        stroke: #FDB731;
        animation-delay: -5s;
    }

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
h3 {
    text-align: center;
}
