html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.table {
    padding: 15px;
}

th {
    font-weight: bold;
    text-align: center;
}

td {
    align-items: center;
    text-align: center;
    align-content: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table a {
    /* General styles for all links in the table cell */
    display: inline-block; /* Makes them behave like block elements */
    padding: 5px 10px; /* Adds padding for a button-like feel */
    border: none; /* Removes default link border */
    border-radius: 4px; /* Adds rounded corners */
    text-decoration: none; /* Removes underline from links */
    cursor: pointer; /* Changes cursor to pointer on hover */
}

.form-group {
    padding-bottom: 10px;
}

.truncated-description {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Show only one line */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:center;
    align-items:center;
}

svg {
    display: block;
    font: 8em 'Montserrat';
    width: 960px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

    .text-copy:nth-child(1) {
        stroke: #4D163D;
        animation-delay: -1;
    }

    .text-copy:nth-child(2) {
        stroke: #840037;
        animation-delay: -2s;
    }

    .text-copy:nth-child(3) {
        stroke: #BD0034;
        animation-delay: -3s;
    }

    .text-copy:nth-child(4) {
        stroke: #BD0034;
        animation-delay: -4s;
    }

    .text-copy:nth-child(5) {
        stroke: #FDB731;
        animation-delay: -5s;
    }

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

h3 {
    text-align: center;
}

.cookie-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f0f0f0;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#closeCookiesBtn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.hero {
    text-align: center;
    padding: 100px 0;
}

    .hero h1 {
        font-size: 3em;
    }

.centered-message {
    text-align: center; /* Horizontally center the content */
    margin: 0 auto; /* Vertically center the content (optional) */
    padding: 20px; /* Add some space around the text */
    border: 5px solid #ddd; /* Create a border */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow box */
    background-color: #f5f5f5; /* Light background for better readability */
    font-size: 16px; /* Set a base font size */
    color: #333; /* Set text color for good contrast */
}

    .centered-message a {
        color: #007bff; /* Blue color for links */
        text-decoration: none; /* Remove underline initially */
        padding: 5px; /* Add some padding for clickable area */
        border-radius: 3px; /* Add subtle rounding to links */
    }

        .centered-message a:hover {
            text-decoration: underline; /* Underline links on hover */
            background-color: #e8e8e8; /* Light gray background on hover */
        }

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-login {
    width: 100%;
    max-width: 400px;
    margin-left: 35%;
    margin-top:2%
}

.card-login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cardmain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-basic,
.card-premium,
.card-standard {
    margin: 0 2rem 1rem 0;
    padding: 0 0 0.5rem 0;
    width: 15rem;
    background: #fff;
    color: #444;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
    overflow: hidden;
    transition: all 0.1ms ease-in-out;
}

    .card-basic:hover,
    .card-premium:hover,
    .card-standard:hover {
        transform: scale(1.02);
    }

.card-header {
    height: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 1rem 0;
    color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.header-basic,
.btn-basic {
    background: linear-gradient(135deg, rgb(0, 119, 238), #06c766);
}

.header-standard,
.btn-standard {
    background: linear-gradient(135deg, #b202c9, #cf087c);
}

.header-premium,
.btn-premium {
    background: linear-gradient(135deg, #eea300, #ee5700);
}

.card-body {
    padding: 0.5rem 0;
}

    .card-body h2 {
        font-size: 2rem;
        font-weight: 700;
    }

.card-element-container {
    color: #444;
    list-style: none;
}

.btn {
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.1ms ease-in-out;
}

    .btn:hover {
        transform: scale(0.95);
    }

    .btn:active {
        transform: scale(1);
    }

.card-element-hidden {
    display: none;
}